/* Juanjo Carrasco Rodriguez*/

/*---Layout*---*/

/*Reset estilos*/

*{
  margin: 0;
  padding: 0;
}

/*Layout*/

body{
  background-image: url("../img/navidad.jpg");
  font-family: Courgette;
  font-size: 16px;
  width: 71.7%;
  margin-left: 13%;
  color: white;
}
header{
  height: 50px;
  background-color: #007a23;
  padding-top: 10px;
}
main{
  background-color: #7a0808;
  width: 100%; /*100%*/
  height: 2250px;
  padding-top: 10px;
}
#felicitacion{
  width: 30%; /*623 menos padding*/
  margin-left: 41px;
  padding: 20px 30px;
  margin: auto;
}
#video{
  width: 90%; /*1229.4 menos el padding y el margin*/
  margin-left: 41px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  text-align: center;
}
#justicia{
  width: 90%; /*1229.4 menos el padding y el margin*/
  margin-left: 41px;
  padding-left:30px;
  padding-right: 30px;
  padding-top: 20px;
  height: 700px;
  font-family: Noto Serif;
}

#cajaparrafo {
  background-color: white;
  color: black;
  font-size: 1.03em;
  padding: 10px;
  position: relative;
  top: -580px;
}

#compartir{
  width: 100%;
  position: relative;
  top: 560px;
}

#logo{
  height: 200px;
  width: 300px;
  margin: auto;
}

footer{
  height: 20px;
  background-color: #007a23;
  padding: 10px 10px;
}

/*-----------------*/

/*---Estilos Generales---*/

p{
  text-align: justify;
}
h1,h2{
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

iframe{
  height: 390px;
  width: 700px;
}

li{
  display: inline;
  list-style-type: none;
  padding: 10px;
}

li:first-child{
  margin-right: 950px;
}

/*---------------------*/

/*Estilos div Justicia*/

#justicia > h2 {
  padding: 10px;
  background-color: #3177B9;
}

#cajaparrafo > p {
  margin-bottom: 20px;
}

#img1{
  height: 250px;
  width: 250px;
  position: relative;
  top: 50px;
  left: 50px;
}
#img2{
  height: 250px;
  width: 250px;
  position: relative;
  top: -90px;
  left: 350px;
}
#img3{
  height: 250px;
  width: 250px;
  position: relative;
  top: -340px;
  left: 650px;
}
#img4{
  height: 250px;
  width: 250px;
  position: relative;
  top: -520px;
  left: 950px;
}

/*Imagen de reyes magos*/

img{
  width: 100%;
  height: auto;
}
#reyes{
  width: 400px;
  position: absolute;
  top: 1880px;
  left: 730px;
}

/*Media query*/

@media only screen and (max-width: 600px) {

  footer{
    height: 200px;
  }

  li {
    display: block;
  }
}
