/*---Layout*---*/
/*
html{
  width: 1366px;
}
*/

/*Reset estilos*/

*{
  margin: 0;
  padding: 0;
}

/*Layout*/

body{
  background-image: url("../img/navidad.jpg");
  font-family: Courgette;
  font-size: 14px;
  width: 1366px;
  margin-left: 28px;
}
header{
  height: 50px;
  background-color: #007a23;
  padding-top: 10px;
}
main{
  background-color: #7a0808;
  width: 1366px;
  height: 1610px;
}
#felicitacion{
  width: 370px;
  padding-left:30px;
  padding-top: 30px;
  color: white;
  margin-left: 50px;
}
#justicia{
  position: relative;
  background-color: white;
  min-height: 700px;
  width: 600px;
  top: -800px;
  left: 700px;
  padding-left: 10px;
  padding-right: 10px;
}
#js{
  position: absolute;
  width: 600px;
  height: 400px;
  top: 1070px;
  left: 30px;
}
footer{
  height: 20px;
  background-color: #007a23;
  padding: 10px 10px;
}

/*-----------------*/

/*---Estilos Generales---*/

p{
  text-align: justify;
}
#video{
  height: 300px;
  width: 370px;
  margin-top: 20px;
}
iframe{
  height: 300px;
  width: 370px;
}

/*---------------------*/

/*Estilos header*/

h1{
  text-align: center;
}

/*Estilos div Justicia*/

#justicia > h2 {
  text-align: center;
  padding: 10px;
}

#cajaparrafo {
  background-color: #1B71C8;
  color: white;
  font-size: 1.03em;
  width: 580px;
  position: absolute;
  top: 400px;
  padding: 10px;
}
#cajaparrafo > p {
  margin-bottom: 5px;
}

#img1{
  height: 200px;
  width: 200px;
  background-color: pink;
  position: absolute;
  top: 100px;
  left: 50px;
}
#img2{
  height: 200px;
  width: 200px;
  background-color: yellow;
  position: absolute;
  top: 130px;
  left: 150px;
}
#img3{
  height: 200px;
  width: 200px;
  background-color: purple;
  position: absolute;
  top: 100px;
  left: 300px;
}
#img4{
  height: 200px;
  width: 200px;
  background-color: cyan;
  position: absolute;
  top: 150px;
  left: 380px;
}

/*Estilos main*/


/*Imagen de reyes magos*/

img{
  width: 100%;
  height: auto;
}
#reyes{
  width: 400px;
  height: 600px;
  position: absolute;
  top: 900px;
  left: 750px;
}
